@use '../abstratcs/' as *;

.image-section{
  margin-bottom: rem(26);
  @include breakpoint('medium'){
    margin-bottom: rem(53);
    padding-left: rem(16);
    padding-right: rem(16);
  }    
  @include breakpoint('xlarge'){
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }    
  &__title{
    font-size: rem(16);
    letter-spacing: rem(2.7);
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    line-height: rem(19);
    font-family: var(--font-family-barlow);
    margin-bottom: rem(32); 
    @include breakpoint('medium'){
      text-align: left;
      margin-bottom: rem(60); 
      font-size: rem(20);
      line-height: rem(24);
      letter-spacing: rem(3.38);
    }   
    @include breakpoint('xlarge'){
      text-align: left;
      margin-bottom: rem(97); 
      font-size: rem(28);
      line-height: rem(34);
      letter-spacing: rem(4.725);
    }   
  }
  &__number{
    display: inline-block;
    opacity: 0.25;
    font-weight: bold;
    margin-right: rem(18);
    @include breakpoint('xlarge'){
      margin-right: rem(28);
    }   
  }
  &__img{
    width: rem(170);
    height: rem(170);
    margin-left: auto;
    margin-right: auto;    
    @include breakpoint('medium'){
      width: rem(300);
      height: rem(300);
    }   
    @include breakpoint('xlarge'){
      width: rem(445);
      height: rem(445);
    }  
    &--show{
      animation: slide-in-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
      @include keyframes('slide-in-top');
      @include breakpoint('xlarge'){
        animation: slide-in-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
        @include keyframes('slide-in-left');
      }  
      
    } 
  }
}
