@use 'variables' as *;

@mixin breakpoint($size) {
	@media (min-width: map-get($breakpoints-up, $size)) {
		@content;
	}
}

@mixin breakpoint-down($size) {
	@media (max-width: map-get($breakpoints-down, $size)) {
		@content;
	}
}

@mixin background-section($section) {	
	background-image: url('#{$img-path}/#{$section}/background-#{$section}-mobile.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
	@include breakpoint('medium'){
		background-image: url('#{$img-path}/#{$section}/background-#{$section}-tablet.jpg');
	}
	@include breakpoint('xlarge'){
		background-image: url('#{$img-path}/#{$section}/background-#{$section}-desktop.jpg');
	}
}

@mixin pulse-effect(){
	@keyframes pulse{
		0%{
			transform: scale(1);
			opacity: .75;
		}
		100%{
			transform: scale(1.50);
			opacity: 0;
		}  
	}

	@include breakpoint('medium'){
		@keyframes pulse{
			0%{
				transform: scale(1);
				opacity: .75;
			}
			100%{
				transform: scale(2.1);
				opacity: 0;
			}  
		}
	}
}

@mixin keyframes($name){
	@if($name == 'slide-in-top'){
		@keyframes #{$name}{
			0% {
				transform: translateY(-50px);
				opacity: 0;
			}
			100% {
				transform: translateY(0);
				opacity: 1;
			}
		}
	}@else if ($name == 'slide-in-bottom'){
		@keyframes slide-in-bottom {
			0% {
				transform: translateY(50px);
				opacity: 0;
			}
			100% {
				transform: translateY(0);
				opacity: 1;
			}
		}
	}@else if ($name == 'slide-in-left'){
		@keyframes slide-in-left {
			0% {
				transform: translateX(-50px);
				opacity: 0;
			}
			100% {
				transform: translateX(0);
				opacity: 1;
			}
		}
	}@else if ($name == 'slide-in-right'){
		@keyframes slide-in-right {
			0% {
				transform: translateX(50px);
				opacity: 0;
			}
			100% {
				transform: translateX(0);
				opacity: 1;
			}
		}
	}@else if ($name == 'fade-in'){
		@keyframes fade-in {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
	}@else{
		@keyframes #{$name} {
			@content
		}
	}

}