@use 'variables' as *;

@mixin breakpoint($size) {
	@media (min-width: map-get($breakpoints-up, $size)) {
		@content;
	}
}

@mixin breakpoint-down($size) {
	@media (max-width: map-get($breakpoints-down, $size)) {
		@content;
	}
}

@mixin background-section($section) {	
	background-image: url('#{$img-path}/#{$section}/background-#{$section}-mobile.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
	@include breakpoint('medium'){
		background-image: url('#{$img-path}/#{$section}/background-#{$section}-tablet.jpg');
	}
	@include breakpoint('xxlarge'){
		background-image: url('#{$img-path}/#{$section}/background-#{$section}-desktop.jpg');
	}
}