@use '../abstratcs/' as *;

body{
  background-color: var(--white);
  font-family: var(--font-family-barlow);
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  min-height: 100vh;
}

p{
  font-size: rem(16);
  line-height: rem(28);
}