@use '../abstratcs/' as *;

@font-face {
  font-family: 'Bellefair';
  src: 
    local('Bellefair regular'), local('Bellefair-regular'),
    url('#{$fonts-path}/bellefair/Bellefair-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: 
    local('Barlow Condensed regular'), local('Barlow-condensed-regular'),
    url('#{$fonts-path}/barlowCondensed/BarlowCondensed-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-display: swap;
}
