<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Frontend Mentor Space tourism website">

  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
  <title>Frontend Mentor | Space tourism website</title>
</head>
<body class="section-crew">
  <header class="header">
    <figure class="header__logo">
      <img src="../img/logo.svg" alt="Logo brand">
    </figure>
    <div class="header__wrapper">
      <button type="button" class="header__button" aria-label="Open menu" width="24" height="21">
        <img src="../img/icon-hamburger.svg" alt="Menu icon">
      </button>
      <div class="header__blur"></div>
      <div class="header__menu">     
        <div class="header__button-wrapper">
          <button type="button" class="header__button header__button--close" aria-label="Close menu" width="24" height="21">
            <img src="../img/icon-close.svg" alt="Menu icon">
          </button>
        </div>  
        <nav class="header__nav">
          <ul class="header__list-menu">
            <li class="header__item-menu">
              <a href="index.html" class="header__link-menu">Home</a>
            </li>
            <li class="header__item-menu">
              <a href="destination.html" class="header__link-menu">Destination</a>
            </li>
            <li class="header__item-menu">
              <a href="crew.html" class="header__link-menu header__link-menu--active">Crew</a>
            </li>
            <li class="header__item-menu">
              <a href="technology.html" class="header__link-menu">Technology</a>
            </li>
          </ul>
        </nav>     
      </div>
    </div>
  </header>
  <main class="container">
    <section class="section">
      <div class="section__wrapper-grid">
        <h1 class="section__title">
          <span class="section__number">02</span>Meet your crew
        </h1>
        <article class="section__image section__image--reverse">        
          <figure class="section__img section__img--medium section__img--show">
            <img src="../img/crew/image-douglas-hurley.webp" width="375" height="515" alt="douglas hurley picture">
          </figure>
        </article>
        <ul class="nav-tabs nav-tabs--reverse" role="tablist">
          <li class="nav-tabs__item">
            <button type="button" 
                    id="nav-douglas-hurley-tab"
                    class="nav-tabs__link nav-tabs__link--rounded nav-tabs__link--active-rounded"
                    data-active="rounded"
                    data-target="douglas-hurley" 
                    role="tab"
                    aria-controls="nav-douglas-hurley-tab"
                    aria-selected="true">      
            </button>
          </li>
          <li class="nav-tabs__item">
            <button type="button" 
                    id="nav-mark-shuttleworth-tab"
                    class="nav-tabs__link nav-tabs__link--rounded"
                    data-active="rounded"
                    data-target="mark-shuttleworth"
                    role="tab"
                    aria-controls="nav-mark-shuttleworth-tab"
                    aria-selected="false">                    
            </button>
          </li>
          <li class="nav-tabs__item">
            <button type="button" 
                    id="nav-victor-glover-tab"
                    class="nav-tabs__link nav-tabs__link--rounded"
                    data-active="rounded"
                    data-target="victor-glover"
                    role="tab"
                    aria-controls="nav-victor-glover-tab"
                    aria-selected="false">
            </button>
          </li>
          <li class="nav-tabs__item">
            <button type="button" 
                    id="nav-anousheh-ansari-tab" 
                    class="nav-tabs__link nav-tabs__link--rounded"
                    data-active="rounded" 
                    data-target="anousheh-ansari" 
                    aria-controls="nav-anousheh-ansari-tab"
                    role="tab" aria-selected="false">        
            </button>
          </li>
        </ul>
        <article class="nav-content nav-content--reverse">         
          <div id="douglas-hurley" class="nav-content__pane nav-content__pane--active" role="tabpanel">
            <span class="nav-content__subtitle nav-content__subtitle--opacity">Mission Specialist</span>
            <h2 class="nav-content__title">Douglas Hurley</h2>
            <p class="nav-content__text">
              Douglas Gerald Hurley is an American engineer, former Marine Corps pilot and former NASA astronaut. He launched into space for the third time as commander of Crew Dragon Demo-2.
            </p>      
          </div>
          <div id="mark-shuttleworth" class="nav-content__pane" role="tabpanel">
            <span class="nav-content__subtitle nav-content__subtitle--opacity">Commander</span>
            <h2 class="nav-content__title">Mark Shuttleworth</h2>
            <p class="nav-content__text">
              Mark Richard Shuttleworth is the founder and CEO of Canonical, the company behind the Linux-based Ubuntu operating system. Shuttleworth became the first South African to travel to space as a space tourist.
            </p>  
          </div>  
          <div id="victor-glover" class="nav-content__pane" role="tabpanel">
            <span class="nav-content__subtitle nav-content__subtitle--opacity">Pilot</span>
            <h2 class="nav-content__title">Victor Glover</h2>
            <p class="nav-content__text">
              Pilot on the first operational flight of the SpaceX Crew Dragon to the International Space Station. Glover is a commander in the U.S. Navy where he pilots an F/A-18.He was a crew member of Expedition 64, and served as a station systems flight engineer.
            </p>  
          </div>
          <div id="anousheh-ansari" class="nav-content__pane" role="tabpanel">
            <span class="nav-content__subtitle nav-content__subtitle--opacity">Flight Engineer</span>
            <h2 class="nav-content__title">Anousheh Ansari</h2>
            <p class="nav-content__text">
              Anousheh Ansari is an Iranian American engineer and co-founder of Prodea Systems. Ansari was the fourth self-funded space tourist, the first self-funded woman to fly to the ISS, and the first Iranian in space.
            </p>  
          </div>         
        </article>
      </div>       
    </section>
  </main>
</body>
</html>