<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Frontend Mentor Space tourism website">

  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
  <title>Frontend Mentor | Space tourism website</title>
</head>
<body class="section-destination">
  <header class="header">
    <figure class="header__logo">
      <img src="../img/logo.svg" alt="Logo brand">
    </figure>
    <div class="header__wrapper">
      <button type="button" class="header__button" aria-label="Open menu" width="24" height="21">
        <img src="../img/icon-hamburger.svg" alt="Menu icon">
      </button>
      <div class="header__menu">     
        <div class="header__button-wrapper">
          <button type="button" class="header__button header__button--close" aria-label="Close menu" width="24" height="21">
            <img src="../img/icon-close.svg" alt="Menu icon">
          </button>
        </div>  
        <nav class="header__nav">
          <ul class="header__list-menu">
            <li class="header__item-menu">
              <a href="#" class="header__link-menu header__link-menu--active">Home</a>
            </li>
            <li class="header__item-menu">
              <a href="#" class="header__link-menu">Destination</a>
            </li>
            <li class="header__item-menu">
              <a href="#" class="header__link-menu">Crew</a>
            </li>
            <li class="header__item-menu">
              <a href="#" class="header__link-menu">Technology</a>
            </li>
          </ul>
        </nav>     
      </div>
    </div>
  </header>
</body>
</html>