<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Frontend Mentor Space tourism website">

  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
  <title>Frontend Mentor | Space tourism website</title>
</head>
<body class="section-technology">
  <header class="header">
    <figure class="header__logo">
      <img src="../img/logo.svg" alt="Logo brand">
    </figure>
    <div class="header__wrapper">
      <button type="button" class="header__button" aria-label="Open menu" width="24" height="21">
        <img src="../img/icon-hamburger.svg" alt="Menu icon">
      </button>
      <div class="header__blur"></div>
      <div class="header__menu">     
        <div class="header__button-wrapper">
          <button type="button" class="header__button header__button--close" aria-label="Close menu" width="24" height="21">
            <img src="../img/icon-close.svg" alt="Menu icon">
          </button>
        </div>  
        <nav class="header__nav">
          <ul class="header__list-menu">
            <li class="header__item-menu">
              <a href="index.html" class="header__link-menu">Home</a>
            </li>
            <li class="header__item-menu">
              <a href="destination.html" class="header__link-menu">Destination</a>
            </li>
            <li class="header__item-menu">
              <a href="crew.html" class="header__link-menu">Crew</a>
            </li>
            <li class="header__item-menu">
              <a href="technology.html" class="header__link-menu header__link-menu--active">Technology</a>
            </li>
          </ul>
        </nav>     
      </div>
    </div>
  </header>
  <main class="container">
    <section class="section">
      <h1 class="section__title">
        <span class="section__number">03</span>Space launch 101
      </h1>
      <div class="section__wrapper">
        <article class="section-image section-image--full-width">       
          <figure class="section__img section__img--full-width section__img--show">
            <img src="../img/technology/image-launch-vehicle-landscape.jpg" width="768" height="310" alt="moon image">
          </figure>
        </article>
        <article>
          <ul class="nav-tabs" role="tablist">
            <li class="nav-tabs__item nav-tabs__item--margin">
              <button type="button" 
                      id="nav-moon-tab"
                      class="nav-tabs__link nav-tabs__link--numbered nav-tabs__link--active-numbered"
                      data-target="launch-vehicle-landscape" 
                      data-active="numbered"
                      role="tab"
                      aria-controls="nav-moon-tab"
                      aria-selected="true">
                      1
                    </button>
            </li>
            <li class="nav-tabs__item nav-tabs__item--margin">
              <button type="button" 
                      id="nav-mars-tab"
                      class="nav-tabs__link nav-tabs__link--numbered"
                      data-target="spaceport-portrait"
                      data-active="numbered"
                      role="tab"
                      aria-controls="nav-mars-tab"
                      aria-selected="false">
                      2
                    </button>
            </li>
            <li class="nav-tabs__item nav-tabs__item--margin">
              <button type="button" 
                      id="nav-europa-tab"
                      class="nav-tabs__link nav-tabs__link--numbered"
                      data-target="space-capsule-portrait"
                      data-active="numbered"
                      role="tab"
                      aria-controls="nav-europa-tab"
                      aria-selected="false">
                      3
                    </button>
            </li>
          </ul>
          <div class="nav-content">
            <div id="launch-vehicle-landscape" class="nav-content__pane nav-content__pane--active" role="tabpanel">
              <span class="nav-content__subtitle nav-content__subtitle--size">The terminology…</span>
              <h2 class="nav-content__title">Launch Vehicle</h2>
              <p class="nav-content__text">
                A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a payload from Earth's surface to space, usually to Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful in operation. Standing 150 metres tall, it's quite an awe-inspiring sight on the launch pad!
              </p>        
            </div>
            <div id="spaceport-portrait" class="nav-content__pane" role="tabpanel">
              <h2 class="nav-content__title nav-content__title--bigger">Mars</h2>
              <p class="nav-content__text nav-content__text--border">
                Don’t forget to pack your hiking boots. You’ll need them to tackle Olympus Mons, the tallest planetary mountain in our solar system. It’s two and a half times the size of Everest!
              </p>
              <div class="nav-content__info-wrapper">
                <dl class="nav-content__info">
                  <dt class="nav-content__info-label">Avg. distance</dt>
                  <dd class="nav-content__info-desc">225 Mil. KM</dd>
                </dl>
                <dl class="nav-content__info">
                  <dt class="nav-content__info-label">Est. travel time</dt>
                  <dl class="nav-content__info-desc">9 months</dl>
                </dl>
              </div>     
            </div>
            <div id="space-capsule-portrait" class="nav-content__pane" role="tabpanel">
              <h2 class="nav-content__title nav-content__title--bigger">Europa</h2>
              <p class="nav-content__text nav-content__text--border">
                The smallest of the four Galilean moons orbiting Jupiter, Europa is a winter lover’s dream. With an icy surface, it’s perfect for a bit of ice skating, curling, hockey, or simple relaxation in your snug wintery cabin.
              </p>
              <div class="nav-content__info-wrapper">
                <dl class="nav-content__info">
                  <dt class="nav-content__info-label">Avg. distance</dt>
                  <dd class="nav-content__info-desc">628 Mil. KM</dd>
                </dl>
                <dl class="nav-content__info">
                  <dt class="nav-content__info-label">Est. travel time</dt>
                  <dl class="nav-content__info-desc">3 years</dl>
                </dl>
              </div>   
            </div>
            <div id="titan" class="nav-content__pane" role="tabpanel">
              <h2 class="nav-content__title nav-content__title--bigger">Titan</h2>
              <p class="nav-content__text nav-content__text--border">
                The only moon known to have a dense atmosphere other than Earth, Titan is a home away from home (just a few hundred degrees colder!). As a bonus, you get striking views of the Rings of Saturn.
              </p>
              <div class="nav-content__info-wrapper">
                <dl class="nav-content__info">
                  <dt class="nav-content__info-label">Avg. distance</dt>
                  <dd class="nav-content__info-desc">1.6 Mil. KM</dd>
                </dl>
                <dl class="nav-content__info">
                  <dt class="nav-content__info-label">Est. travel time</dt>
                  <dl class="nav-content__info-desc">7 years</dl>
                </dl>
              </div>   
            </div>
          </div>
        </article>     
      </div>
    </section>
  </main>
</body>
</html>